/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-s-DSGN {
  background-image: url(sprite.png);
  background-position: -2831px -1128px;
  width: 162px;
  height: 207px;
}
.icon-s-img {
  background-image: url(sprite.png);
  background-position: 0px -2256px;
  width: 1072px;
  height: 500px;
}
.icon-s-line {
  background-image: url(sprite.png);
  background-position: -1898px -1128px;
  width: 933px;
  height: 1001px;
}
.icon-s-m-medik {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 1898px;
  height: 1128px;
}
.icon-s-menu_icon {
  background-image: url(sprite.png);
  background-position: -2993px -1128px;
  width: 40px;
  height: 17px;
}
.icon-s-sanmarket {
  background-image: url(sprite.png);
  background-position: -1898px 0px;
  width: 1898px;
  height: 1128px;
}
.icon-s-sputnik64 {
  background-image: url(sprite.png);
  background-position: 0px -1128px;
  width: 1898px;
  height: 1128px;
}
